# Dependencies
node_modules/
**/node_modules/
venv/
**/venv/
.venv/
**/.venv/
env/
**/env/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Build & Dist
dist/
**/dist/
build/
**/build/
dist-ssr/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
